body {
    margin: 0;
}



#footer {
    position: fixed;
    margin-left: 25%;
    padding: 1px;
    bottom: 0;
    text-align: center;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #ff5c33;
    height: 100%; /* Full height */
    position: fixed; /* make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#menu li a {
    display: block;
    color: #000;
    padding: 16px 8px; /* first px is padding top-bottom, 2nd px is left and right*/
    text-decoration: none; /* Removes the underlines */
}

#menu li a.active {
    background-color: #ffffff;
    color: white;
}

#menu li a:hover:not(.active){
    background-color: #ff704d;
    color: white;
}

#main {
    margin-left: 25%;
    padding: 1px 16px;
    height: 250px;
}

#image img {
    margin-left: 40%;
    padding: 5px 16px;
    position: relative;
    height: 200px;
    display:block;
}

